body {
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.d-flex {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #1b4332; /* Couleur sombre adaptée */
    border-right: 1px solid #2d6a4f; /* Bordure légèrement plus claire */
}

.sidebar .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar .nav-link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #2d6a4f; /* Vert adapté au logo */
    font-size: 16px;
}

.sidebar .nav-link i {
    font-size: 18px;
    color: #2d6a4f; /* Vert adapté au logo */
}

.sidebar .nav-link:hover {
    background-color: #40916c; /* Vert légèrement plus clair */
    border-radius: 5px;
    color: #ffffff; /* Texte blanc au survol */
}

.sidebar .text-muted {
    font-size: 14px;
    color: #ffffff; /* Texte blanc pour les informations supplémentaires */
}

.content {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

.circle-logo {
    width: 300px;
    height: 300px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-logo img {
    width: 150px;
    height: 150px;
}

.text-warning {
    font-size: 28px;
    font-weight: bold;
    text-transform: lowercase;
}
